.embla {
  margin: auto;
  --slide-spacing: 0.8rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__dot {
  width: 12px;
  height: 12px;
  background-color: #000;
  opacity: 0.25;
  border-radius: 50%;
}

.embla__dot.embla__dot--selected {
  opacity: 1;
}
